@charset "UTF-8";
/* CSS Document */

.poster1slot {
	
	background-image: url(img/poster1.jpg);
	height: 1100px;
    background-size: cover;
	transition: 0.2s;
}

.poster1slot:hover{
	background-image: url(img/poster1hover.png);
	transition: 0.2s;

}

.poster2slot {
	
	background-image: url(img/poster2.jpg);
	height: 1100px;
    background-size: cover;
	transition: 0.2s;
}

.poster2slot:hover{
	background-image: url(img/poster2hover.png);
	transition: 0.2s;

}

.poster2slot img:hover{
	background-image: url(img/poster2hover.png) !important;
	display: none;
	transition: 0.2s;
}

.poster3slot {
	
	background-image: url(img/poster3.jpeg);
	height: 1100px;
    background-size: cover;
	transition: 0.2s;
}

.poster3slot:hover{
	background-image: url(img/poster3hover.png);
	transition: 0.2s;

}

.poster4slot {
	
	background-image: url(img/poster4.jpg);
	height: 1100px;
    background-size: cover;
	transition: 0.2s;
}

.poster4slot:hover{
	background-image: url(img/poster4hover.png);
	transition: 0.2s;

}

.poster5slot {
	
	background-image: url(img/poster5.jpeg);
	height: 1100px;
    background-size: cover;
	transition: 0.2s;
}

.poster5slot:hover{
	background-image: url(img/poster5hover.png);
	transition: 0.2s;

}

h3 {
	font-size: 27px;
}


