@charset "UTF-8";
/* CSS Document */

#poster1slot {
	
	background-image: url(img/poster1.jpg);
	height: 469px;
    background-repeat: no-repeat;
    background-size: cover;
	transition: 0.2s;
}

#poster1slot:hover{
	background-image: url(img/poster1hover.png);
	transition: 0.2s;

}

#poster2slot {
	background-image: url(img/poster2.jpg);
	height: 469px;
    background-repeat: no-repeat;
    background-size: cover;
	
	
}

#poster2slot:hover{
	background-image: url(img/poster2hover.png);
	pointer-events: none;
	


}



#poster3slot {
	
	background-image: url(img/poster3.jpeg);
	height: 469px;
    background-repeat: no-repeat;
    background-size: cover;
	transition: 0.2s;
}

#poster3slot:hover{
	background-image: url(img/poster3hover.png);
	transition: 0.2s;

}

#poster4slot {
	
	background-image: url(img/poster4.jpg);
	height: 469px;
    background-repeat: no-repeat;
    background-size: cover;
	transition: 0.2s;
}

#poster4slot:hover{
	background-image: url(img/poster4hover.png);
	transition: 0.2s;

}

#poster5slot {
	
	background-image: url(img/poster5.jpeg);
	height: 469px;
    background-repeat: no-repeat;
    background-size: cover;
	transition: 0.2s;
}

#poster5slot:hover{
	background-image: url(img/poster5hover.png);
	transition: 0.2s;

}

